<nav class="navbar navbar-expand-sm navbar-dark bg-dark mat-elevation-z8">
  <div class="container">
    <a routerLink="/" class="navbar-brand">TA System - Arabia Holdings</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">

        <div *ngIf="auth.user$ | async as user; then showMenu; else anonymousUser"></div>

        <ng-template #showMenu>
          <li class="nav-item ">
            <a routerLink="/home" class="nav-link">Reports</a>
          </li>

          <li class="nav-item dropdown" *ngIf="(appUser$ | async)?.roles?.isAdmin">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" mat-button routerLink="/user-list">Manage Users </a>
              <a class="dropdown-item" mat-button routerLink="">Manager Devices </a>
              <a class="dropdown-item" mat-button routerLink="">Manage Locations </a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{(auth.user$ | async)?.email }}</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" mat-button (click)="logout()" routerLink="">Logout </a>
            </div>
          </li>
        </ng-template>

        <ng-template #anonymousUser>
          <li class="nav-item ">
            <a mat-button (click)="login()" class="nav-link">Login</a>
          </li>
        </ng-template>

      </ul>
    </div>
  </div>
</nav>