/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.hide{
    display: none;
}

mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
    font-weight: bold;
}

.example-form-field {
    width: 300px;
  }